.Heading{
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-style: normal;
        font-size: 72px;
        line-height: 79.2 px;
}

.mainHeading{
    margin-top: 100px;
    margin-left: 100px;
}

.mainpara{
    font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 28.8px;
        color: #475569;
        padding-top: 10px;
}